.bg-primary {
  background: $brand_tertiary !important;
}
.bg-secondary {
  background: $off_white;
}
.bg-white {
  background: $color_white;
}
.bg-dark {
    background: $color_dark;
 
}
.color-body {
  color: $color_grey_dark;
}
.color-primary {
  color: $brand_primary !important;
}
.color-red {
  color: $color_red !important;
}
.color-white {
  color: $color_white;
}