.icon {
  font-size: 64px;
  display: inline-block;
  color: #292929;
}
.image-bg.bg-light .icon {
  color: #292929;
}
.image-bg .icon,
.bg-dark .icon {
  color: #fff;
}
.icon-lg {
  font-size: 80px;
}
.icon-sm {
  font-size: 32px;
}
.icon-xs {
  font-size: 18px;
}
@media all and (max-width: 767px) {
  .icon {
    font-size: 48px;
  }
  .icon-lg {
    font-size: 64px;
  }
  .icon-sm {
    font-size: 18px;
  }
  .icon-xs {
    font-size: 16px;
  }
}
.embelish-icons {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: scale(10);
  -webkit-transform: scale(10);
  left: 50%;
  opacity: 0.05;
  z-index: -1;
}



// FEATURES


.feature.boxed {
  padding: 32px;
  background: #f8f8f8;
}
.feature.boxed.bg-dark {
  background: #292929;
}
.bg-dark .feature.boxed {
  background: #363636;
}
.bg-secondary .feature.boxed {
  background: #fff;
}
.feature.bordered {
  padding: 32px;
  border: 1px solid #ccc;
}
.feature {
  margin-bottom: 24px;
}
.feature p:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 767px) {
  .feature.boxed,
  .feature.bordered {
    padding: 24px;
  }
}
@media all and (max-width: 990px) {
  .feature .icon-lg {
    font-size: 40px;
  }
}
.feature-1 i {
  display: inline-block;
  margin-bottom: 16px;
  color: #006699;
}
.feature-2 i {
  display: block;
  width: 80px;
  height: 80px;
  border: 1px solid #006699;
  text-align: center;
  line-height: 80px;
  color: #006699;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.feature-2 i:hover,
.feature-2.filled i {
  background: #006699;
  color: #fff;
}
.feature-3 {
  overflow: hidden;
}
@media all and (min-width: 768px) {
  .feature-3 {
    min-height: 160px;
  }
}
.feature-3 .left,
.feature-3 .right {
  display: inline-block;
  float: left;
}
.feature-3 .left {
  width: 15%;
}
.feature-3 .right {
  width: 85%;
}
.feature-3 i {
  color: #006699;
}
.bg-primary .feature-3 i {
  color: #fff;
}
.feature-4 .left {
  width: 25%;
}
.feature-4 .right {
  width: 75%;
}
.feature-color h1,
.feature-color h2,
.feature-color h3,
.feature-color h4,
.feature-color h5,
.feature-color h6 {
  color: #ffffff;
}
.feature-color p,
.feature-color span,
.feature-color li {
  color: #ffffff;
}
.feature-color i {
  color: #fff;
  opacity: .7;
}
.feature-color:nth-of-type(1) {
  background: #006699;
}
.feature-color:nth-of-type(2) {
  background: #40a269;
}
.feature-color:nth-of-type(3) {
  background: #398f5d;
}
.feature-5 {
  height: 33.333333vw;
  padding: 0 48px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
@media all and (max-width: 1280px) {
  .feature-5 {
    height: auto;
    padding: 80px 48px;
  }
  .feature-5 .v-align-transform {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
}
@media all and (max-width: 767px) {
  .feature-3 .left,
  .feature-4 .left {
    margin-bottom: 8px;
  }
  .feature-3 .left,
  .feature-4 .left,
  .feature-3 .right,
  .feature-4 .right {
    width: 100%;
  }
  .feature-5 {
    padding: 40px 24px;
  }
}
.image-bg .feature i {
  color: #fff;
}
.image-bg .feature h1,
.image-bg .feature h2,
.image-bg .feature h3,
.image-bg .feature h4,
.image-bg .feature h5,
.image-bg .feature h6 {
  color: #ffffff;
}
.image-bg .feature p,
.image-bg .feature span,
.image-bg .feature li {
  color: #ffffff;
}
.image-bg .feature.bordered {
  border-color: rgba(255, 255, 255, 0.4);
}
.image-bg .feature.boxed {
  background: rgba(34, 34, 34, 0.4);
}
.bg-light .feature.bordered {
  border-color: rgba(34, 34, 34, 0.2);
}