// .u-center-text{ 
//   text-align: center !important;
// }

// .u-left-text{ 
//  left: 500px !important;
// }

// .u-margin-bottom-small{
//   margin-bottom: 1.5rem !important;
// }
// .u-margin-bottom-medium{
//   margin-bottom: 4rem !important;

//   @include MQ(M){
//     margin-bottom:  3rem !important;
//   }
// }
.u-margin-bottom-big{
  margin-bottom: 8rem !important;

  // @include MQ(M){
  //   margin-bottom:  5rem !important;
  // }
}

// .u-margin-bottom-huge{
//   margin-bottom: 12rem !important;

//   @include MQ(M){
//     margin-bottom:  12rem !important;
//   }
// }

// .u-margin-top-big{
//   margin-top: 8rem !important;
// }

// .u-margin-top-huge{
//   margin-top: 10rem !important;
// }

.tooltip {
  font-weight: 600;
  font-size: 13px;
}
.tooltip-inner {
  border-radius: 0;
  padding: 9px 24px 12px 24px;
}

.progress-bars {
  margin-bottom: 24px;
}
.progress {
  height: auto;
  box-shadow: none;
}
.progress-bar {
  background: #006699;
  box-shadow: none !important;
}
.bg-primary .progress-bar {
  background: #63c18b;
}
.progress-1 {
  height: 32px;
  margin-bottom: 8px;
  border-radius: 0;
  border: none;
}
.progress-1:last-child {
  margin-bottom: 0;
}
.progress-1 .progress-bar {
  text-align: right;
  padding-right: 12px;
  line-height: 32px;
  border-radius: 0;
}
.progress-1 .progress-bar span {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 11px;
}
.progress-2 {
  height: auto;
  background: none;
  text-align: center;
  margin-bottom: 8px;
}
.progress-2 span {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}
.progress-2 .bar-holder {
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #006699;
}
.bg-primary .progress-2 .bar-holder {
  border-color: #71c795;
}
/*!---------- 15. STATS ----------*/
.stat-2 h1 {
  font-size: 80px;
  line-height: 88px;
}
.stat-3 h1 {
  margin-bottom: 8px;
  font-size: 72px;
  line-height: 80px;
}
.stat-3 h6 {
  margin-bottom: 0;
}
/*!---------- 16. BREADCRUMBS ----------*/
.breadcrumb {
  margin-bottom: 24px;
}
.breadcrumb-2 {
  background: none;
  padding: 0;
}
.breadcrumb-2 li a,
.breadcrumb-2 li {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 11px;
  font-weight: 600;
}
.breadcrumb-2 > li + li:before {
  padding: 0 16px;
  color: #bbb;
}
.image-bg .breadcrumb li a {
  color: #fff;
  opacity: .8;
}
.image-bg .breadcrumb li a:hover {
  opacity: 1;
}
.image-bg .breadcrumb li.active {
  color: #fff;
}
.bg-dark .breadcrumb a {
  color: #fff;
}
@media all and (max-width: 990px) {
  .page-title-4 .breadcrumb,
  .page-title-2 .breadcrumb {
    float: left;
    margin-top: 32px;
  }
}
@media all and (max-width: 767px) {
  .breadcrumb-2 > li + li:before {
    padding: 0 4px;
  }
  .page-title-4 .breadcrumb,
  .page-title-2 .breadcrumb {
    float: left;
    margin-top: 8	px;
  }
}

/*!---------- PAGINATION ----------*/
.pagination {
  margin: 0;
}
.pagination li {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagination li a {
  min-width: 32px;
  width: auto;
  height: 32px;
  padding: 0 5px;
  text-align: center;
  padding-top: 6px;
  margin: 0 4px;
  color: #292929;
  font-weight: 400;
}
.pagination li a:hover,
.pagination li.active a,
.pagination li.active:hover a {
  background: #006699;
  color: #fff;
  border-color: #006699;
}


// pricing table



.pricing-table {
  padding: 48px 32px;
}
.pricing-table .price {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
  color: #292929;
  display: inline-block;
  margin-bottom: 16px;
}
.bg-dark .pricing-table .price {
  color: #fff;
}
.pricing-table p:last-child {
  margin-bottom: 0;
}
.pricing-table.boxed,
.pricing-table.emphasis {
  background: #f8f8f8;
}
.pricing-table.emphasis {
  background: #006699;
  color: #fff;
}
.pricing-table.emphasis a:not(.btn) {
  color: #fff;
}
.pricing-table.emphasis .price,
.pricing-table.emphasis h5 {
  color: #fff;
}
.pt-2 ul {
  line-height: 36px;
}


// page title

.page-title {
  padding: 0;
}
/*.container.inside-banner-text  {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
 
  z-index: 2;
}*/

.page-title i {
  position: relative;
  top: 1px;
}

@media all and (max-width: 991px) {
	.page-title .container { left: 10px; }
}

@media all and (max-width: 767px) {
  .page-title i {
    display: none;
  }
}
.page-title-1,
.page-title-2 {
  height: 400px;
}
.page-title-1 .breadcrumb,
.page-title-3 .breadcrumb {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.page-title-2 .breadcrumb {
  position: relative;
  margin-bottom: 0;
}
.nav-is-overlay .page-title-1.image-bg:first-child,
.nav-is-overlay.page-title-1.bg-dark:first-child,
.nav-is-overlay .page-title-2.image-bg:first-child,
.nav-is-overlay.page-title-2.bg-dark:first-child {
  height: 455px;
  padding-top: 55px;
}
@media all and (max-width: 767px) {
  .page-title-1,
  .page-title-2 {
    height: 320px;
  }
}
.page-title-3,
.page-title-4 {
  height: 240px;
}
.page-title-4 .breadcrumb {
  position: relative;
  top: 8px;
  margin-bottom: 0;
}
.nav-is-overlay .page-title-3.image-bg:first-child,
.nav-is-overlay.page-title-3.bg-dark:first-child,
.nav-is-overlay .page-title-4.image-bg:first-child,
.nav-is-overlay.page-title-4.bg-dark:first-child {
  height: 295px;
  padding-top: 55px;
}
@media all and (max-width: 767px) {
  .page-title .text-right {
    text-align: left !important;
  }
}
.page-title.fullscreen {
  height: 100vh !important;
  padding-top: 0;
}

// widgets

.widget {
  margin-bottom: 48px;
}
.link-list {
  line-height: 32px;
}
/*
.link-list a:after {
  content: "\e628";
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 11px;
  display: inline-block;
  margin-left: 8px;
}*/
.widget ul:last-child,
.widget p:last-child {
  margin-bottom: 0;
}
.widget .title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
}
.widget hr {
  margin-bottom: 12px;
}
.recent-posts {
  line-height: 24px;
}
.recent-posts li {
  margin-bottom: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.recent-posts .date {
  display: block;
  letter-spacing: 0;
  opacity: .8;
}
.recent-posts li:hover .date {
  opacity: 1;
}
.tags {
  overflow: hidden;
}
.tags li {
  float: left;
  margin: 0 4px 4px 0;
}
.tags .btn-sm {
  padding: 0 8px;
  margin: 0;
}
.widget .gallery {
  overflow: hidden;
}
.widget .gallery li {
  width: 33.33333%;
  float: left;
  padding: 0 4px 4px 0;
}
.twitter-feed .user,
.twitter-feed .interact {
  display: none;
}
.widget .twitter-feed .timePosted {
  display: none;
}
.widget .tweet {
  margin-bottom: 0;
}
.widget .twitter-feed .slides li {
  margin-bottom: 24px;
}
.widget .twitter-feed .slides li:last-child {
  margin-bottom: 0;
}
.widget .twitter-feed .slides li:nth-of-type(n+3) {
  display: none;
}
.widget .twitter-feed .slides li:before {
  position: relative;
  top: 6px;
  float: left;
  display: inline-block;
  margin-right: 8px;
  color: #292929;
  content: "\e74b";
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 13px;
}
.widget .twitter-feed p {
  padding-left: 22px;
  position: relative;
}
.bg-dark .widget .twitter-feed .slides li:before {
  color: #fff;
}
.widget .instafeed li {
  width: 33.3333%;
  display: inline-block;
  padding: 0 4px 4px 0;
}
.widget .instafeed li:nth-of-type(n+7) {
  display: none;
}
.widget .cart-overview img {
  width: 25%;
  padding-right: 2%;
}
.widget .cart-overview .description {
  display: inline-block;
  width: auto;
  line-height: 24px;
}
.widget .cart-overview span {
  display: block;
}
.widget .cart-overview li {
  margin-bottom: 24px;
  overflow: hidden;
}
.widget .cart-overview li:last-child {
  margin-bottom: 0;
}
.widget .cart-controls {
  max-height: 30px;
  line-height: 30px;
}
.cart-overview a {
  color: #292929;
}
.cart-overview a:hover {
  color: #006699;
}
.widget .flex-direction-nav li a {
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
}
.widget .flex-direction-nav li a:before {
  font-size: 16px;
}
.widget .flex-direction-nav li a.flex-next {
  right: 8px;
}
.widget .flex-direction-nav li a.flex-prev {
  left: 8px;
}
.widget .flex-control-nav {
  display: none;
}
.widget .image-slider {
  margin: 0;
}




// img title

img {
  max-width: 100%;
}
.image-tile {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
.image-tile img {
  width: 100%;
  display: inline-block;
}
.image-tile .label {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
}
.inner-title:before {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
  pointer-events: none;
}
.inner-title.title-center:before {
  background: #292929;
  opacity: .4;
}
.inner-title:hover:before {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.inner-title .title {
  position: absolute;
  width: 100%;
  bottom: 24px;
  z-index: 5;
}
.inner-title .title h1,
.inner-title .title h2,
.inner-title .title h3,
.inner-title .title h4,
.inner-title .title h5,
.inner-title .title h6 {
  color: #ffffff;
}
.inner-title .title p,
.inner-title .title span,
.inner-title .title li {
  color: #ffffff;
}
.inner-title.title-center .title {
  bottom: auto;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
}
.inner-title .title h5 {
  font-weight: 600;
}
.inner-title {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.inner-title:hover {
  opacity: .95;
}
.inner-title.hover-reveal:before {
  opacity: 0;
}
.inner-title.hover-reveal .title {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.inner-title.hover-reveal:hover .title {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
}
.inner-title.hover-reveal:hover:before {
  opacity: 1;
}
.outer-title img {
  display: inline-block;
  margin-bottom: 12px;
}
.hover-tile {
  position: relative;
  overflow: hidden;
  background: #292929;
}
.hover-tile img {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.hover-tile:hover img {
  opacity: .5;
}
.hover-tile .hover-state {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
}
.hover-state {
  z-index: 99;
  padding: 0 40px;
  cursor: default;
}
.hover-state h1,
.hover-state h2,
.hover-state h3,
.hover-state h4,
.hover-state h5,
.hover-state h6 {
  color: #ffffff;
}
.hover-state p,
.hover-state span,
.hover-state li {
  color: #ffffff;
}
.hover-state * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 30px, 0) scale(1.05);
  -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}
.hover-tile:hover .hover-state {
  opacity: 1;
}
.hover-tile:hover .hover-state * {
  transform: translate3d(0, 0px, 0) scale(1);
  -webkit-transform: translate3d(0, 0px, 0) scale(1);
}
.hover-state *:last-child {
  margin-bottom: 0;
}
.border-thick {
  border: 16px solid #fff;
  border-top: none;
}
.border-thick.col-sm-6:first-child {
  border-right: 8px solid #fff;
}
.border-thick.col-sm-6:last-child {
  border-left: 8px solid #fff;
}
.horizontal-tile {
  overflow: hidden;
}
.horizontal-tile:not(:last-of-type) {
  margin-bottom: 30px;
}
.tile-left,
.tile-right {
  width: 50%;
  float: left;
  display: inline-block;
  overflow: hidden;
  min-height: 300px;
  position: relative;
}
.tile-right .description,
.tile-left .description {
  padding: 48px;
}
.tile-right:hover .background-image-holder,
.tile-left:hover .background-image-holder {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
@media all and (max-width: 767px) {
  .tile-left,
  .tile-right {
    width: 100%;
    float: none;
  }
}


// spacing


.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mbt{}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb56 {
  margin-bottom: 56px;
}
.mb64 {
  margin-bottom: 64px;
}
.mb72 {
  margin-bottom: 72px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb88 {
  margin-bottom: 88px;
}
.mb96 {
  margin-bottom: 96px;
}
.mb104 {
  margin-bottom: 104px;
}
.mb112 {
  margin-bottom: 112px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb160 {
  margin-bottom: 160px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt40 {
  margin-top: 40px;
}
.mt48 {
  margin-top: 48px;
}
.mt56 {
  margin-top: 56px;
}
.mt64 {
  margin-top: 64px;
}
.mt72 {
  margin-top: 72px;
}
.mt80 {
  margin-top: 80px;
}
.mt88 {
  margin-top: 88px;
}
.mt96 {
  margin-top: 96px;
}
.mt104 {
  margin-top: 104px;
}
.mt112 {
  margin-top: 112px;
}
.mt120 {
  margin-top: 120px;
}
.mt160 {
  margin-top: 160px;
}
.p32 {
  padding: 0 32px;
}
.p24 {
  padding: 24px;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pt8 {
  padding-top: 8px;
}
.pt16 {
  padding-top: 16px;
}
.pt24 {
  padding-top: 24px;
}
.pt32 {
  padding-top: 32px;
}
.pt40 {
  padding-top: 40px;
}
.pt48 {
  padding-top: 48px;
}
.pt64 {
  padding-top: 64px;
}
.pt72 {
  padding-top: 72px;
}
.pt80 {
  padding-top: 80px;
}
.pt88 {
  padding-top: 88px;
}
.pt96 {
  padding-top: 96px;
}
.pt104 {
  padding-top: 104px;
}
.pt112 {
  padding-top: 112px;
}
.pt120 {
  padding-top: 120px;
}
.pt160 {
  padding-top: 160px;
}
.pt180 {
  padding-top: 180px;
}
.pt240 {
  padding-top: 240px;
}
.pb0 {
  padding-bottom: 0;
}
.pb8 {
  padding-bottom: 8px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb48 {
  padding-bottom: 48px;
}
.pb56 {
  padding-bottom: 56px;
}
.pb64 {
  padding-bottom: 64px;
}
.pb72 {
  padding-bottom: 72px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb88 {
  padding-bottom: 88px;
}
.pb96 {
  padding-bottom: 96px;
}
.pb104 {
  padding-bottom: 104px;
}
.pb112 {
  padding-bottom: 112px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb160 {
  padding-bottom: 160px;
}
.pb180 {
  padding-bottom: 180px;
}
.pb240 {
  padding-bottom: 240px;
}
@media all and (max-width: 990px) {
  .mb-s-0 {
    margin-bottom: 0;
  }
  .mb-s-8 {
    margin-bottom: 8px;
  }
  .mb-s-16 {
    margin-bottom: 16px;
  }
  .mb-s-24 {
    margin-bottom: 24px;
  }
  .mb-s-32 {
    margin-bottom: 32px;
  }
  .mb-s-40 {
    margin-bottom: 40px;
  }
  .mb-s-48 {
    margin-bottom: 48px;
  }
  .mb-s-64 {
    margin-bottom: 64px;
  }
  .mb-s-72 {
    margin-bottom: 72px;
  }
  .mb-s-80 {
    margin-bottom: 80px;
  }
  .mb-s-88 {
    margin-bottom: 88px;
  }
  .mb-s-96 {
    margin-bottom: 96px;
  }
  .mb-s-104 {
    margin-bottom: 104px;
  }
  .mb-s-112 {
    margin-bottom: 112px;
  }
  .mb-s-120 {
    margin-bottom: 120px;
  }
}
@media all and (max-width: 990px) {
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-32 {
    margin-bottom: 32px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mb-sm-48 {
    margin-bottom: 48px;
  }
  .mb-sm-64 {
    margin-bottom: 64px;
  }
  .mb-sm-72 {
    margin-bottom: 72px;
  }
  .mb-sm-80 {
    margin-bottom: 80px;
  }
  .mb-sm-88 {
    margin-bottom: 88px;
  }
  .mb-sm-96 {
    margin-bottom: 96px;
  }
  .mb-sm-104 {
    margin-bottom: 104px;
  }
  .mb-sm-112 {
    margin-bottom: 112px;
  }
  .mb-sm-120 {
    margin-bottom: 120px;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-8 {
    margin-top: 8px;
  }
  .mt-sm-16 {
    margin-top: 16px;
  }
  .mt-sm-24 {
    margin-top: 24px;
  }
  .mt-sm-32 {
    margin-top: 32px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .mt-sm-48 {
    margin-top: 48px;
  }
  .mt-sm-56 {
    margin-top: 56px;
  }
  .mt-sm-64 {
    margin-top: 64px;
  }
  .mt-sm-72 {
    margin-top: 72px;
  }
  .mt-sm-80 {
    margin-top: 80px;
  }
  .mt-sm-88 {
    margin-top: 88px;
  }
  .mt-sm-96 {
    margin-top: 96px;
  }
  .mt-sm-104 {
    margin-top: 104px;
  }
  .mt-sm-112 {
    margin-top: 112px;
  }
  .mt-sm-120 {
    margin-top: 120px;
  }
  .p0-sm {
    padding: 0;
  }
  .pt-sm-0 {
    padding-top: 0;
  }
  .pt-sm-8 {
    padding-top: 8px;
  }
  .pt-sm-16 {
    padding-top: 16px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }
  .pt-sm-32 {
    padding-top: 32px;
  }
  .pt-sm-40 {
    padding-top: 40px;
  }
  .pt-sm-48 {
    padding-top: 48px;
  }
  .pt-sm-64 {
    padding-top: 64px;
  }
  .pt-sm-72 {
    padding-top: 72px;
  }
  .pt-sm-80 {
    padding-top: 80px;
  }
  .pt-sm-88 {
    padding-top: 88px;
  }
  .pt-sm-96 {
    padding-top: 96px;
  }
  .pt-sm-104 {
    padding-top: 104px;
  }
  .pt-sm-112 {
    padding-top: 112px;
  }
  .pt-sm-120 {
    padding-top: 120px;
  }
  .pt-sm-160 {
    padding-top: 160px;
  }
  .pb-sm-0 {
    padding-bottom: 0;
  }
  .pb-sm-8 {
    padding-bottom: 8px;
  }
  .pb-sm-16 {
    padding-bottom: 16px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
  .pb-sm-40 {
    padding-bottom: 40px;
  }
  .pb-sm-48 {
    padding-bottom: 48px;
  }
  .pb-sm-64 {
    padding-bottom: 64px;
  }
  .pb-sm-72 {
    padding-bottom: 72px;
  }
  .pb-sm-80 {
    padding-bottom: 80px;
  }
  .pb-sm-88 {
    padding-bottom: 88px;
  }
  .pb-sm-96 {
    padding-bottom: 96px;
  }
  .pb-sm-104 {
    padding-bottom: 104px;
  }
  .pb-sm-112 {
    padding-bottom: 112px;
  }
  .pb-sm-120 {
    padding-bottom: 120px;
  }
}




// Nodes

.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}